<h3>About G Market</h3>

<img src="./img/everlane-ex.jpg" width="100%" alt="" class="float-center">
<img src="./img/EverTehri.jpg" width="100%" alt="" class="float-center">
<br />
<p>G Market is a full-stack project as part of the DevMountain Web Development Immersive Program. All images were taken from Everlane's official website. This site was created for educational purposes only. </p>

<p>If you have any comments/questions/concerns, please contact me via <a href="http://www.twitter.com/espresscho">Twitter</a></p>

<p>Git Repo: <a href="http://www.github.com/gcho91/gMarket">here</a></p>
