<h3>Your Shopping Cart</h3>

<table>
  <thead>
    <tr>
      <th width="400">Item</th>
      <th width="200">Quantity</th>
      <th width="200">Price/Item</th>
      <th width="200">Item Total </th>
      <th>Delete Item</th>
    </tr>
  </thead>

  <tbody ng-repeat="cart in shoppingcart">
    <tr>
      <td> {{ cart.name }}</td>
      <td> {{ cart.quantity }}</td>
      <td> ${{ cart.price }}</td>
      <td> ${{ cart.quantity * cart.price }}</td>
      <td><button ng-click= "deleteFromCart(cart.sessionid, cart.productid)"><i class="fa fa-trash-o" aria-hidden="true"></i></buton> </td>
    </tr>
  </tbody>

</table>

<!-- <button ng-click = "updateCartQuantity(cart.sessionid, cart.productid, 100)">update</button> -->






<!--below is old cart -->
<!--itemized shopping cart display here -->





 <!-- <div class="checkout-button">
   <h3 class="total"><strong> Total: ${{ cartTotal || 0 }}</strong></h3>
   <button ui-sref="checkout({ id: sessionid })" class="btn"> Click to Checkout</button>
 </div> -->



<h3 class="total"> Total: ${{ cartTotal || 0 }}</h3>

 <button type="submit" ui-sref="checkout({ id: sessionid })" class="button">
   Click to Checkout
 </button>


<!-- <div class="bottom-total">
  <h3 class="total"><strong> Total: ${{ cartTotal }}</strong></h3>
  <button href="#" class="btn btn-success btn-xs total-button" role="button"><i class="fa fa-shopping-cart" aria-hidden="true"> Checkout</i></button>
</div> -->
