



















<!--original ------>

<div class="prodpadding">

<div class="grid-x">

  <div class="large-6 small-12">
    <img ng-src="{{ product.imageurl1}}" class="detailsimg">

  </div>





  <div class="large-6 small-12">
    <h2>{{ product.name }}</h2>
    <h4> <u>Description: </u></h4>
    <h5> {{ product.desc }}</h5>

    <!-- <p>{{ product.desc}}</p> -->
    <h4> ${{ product.price }}</h4>

      <button ng-click="addToCart(product)" class="button">Add to Cart</button>
  </div>



</div>


<section>
  <img ng-src=" {{ product.imageurl2}}" class="prod23">
  <img ng-src=" {{ product.imageurl3}}" class="prod23">
</section>
