<br>
<!-- <img src="/img/everlane-ex.jpg" width="90%" alt="" class="float-center"> -->
<img src="/img/cover.jpg" width="100%" alt="" class="float-center">
<br>



 <!-- {{ test }} -->


<div class="featured">

<h4> Featured Products </h4>
</div>



<div class="grid-x">
  <div class=" prodgrid small-12 medium-3 cell" ng-repeat="product in homeproducts" ui-sref="details({ id: product.productid })">
    <img ng-src="{{product.imageurl1}}" alt="" class="prodimg hover">
    <h4> {{ product.name }}</h4>
    <h4> ${{ product.price }}</h4>
  </div>

  <!-- try to do a slider scroll thing -->
</div>
