<nav-component> </nav-component>



<div class="container">
    <div class="jumbotron">

    </div>

    <section id='middle'>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class='featured-products-home'>Featured Products</h2>
                </div>
            </div>
        </div>

        <div class="featured_slick">

            <div ng-repeat = "product in products">
              <img id="slider-image" ui-sref="product({id:product.id})" ng-src={{product.img1}}>
            </div>
            <!-- <div><a ui-sref="product({id: 1})"><img src="https://i.s-jcrew.com/is/image/jcrew/A2297_WD5374?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636" alt=""></a></div>
            <div><img src="https://i.s-jcrew.com/is/image/jcrew/G0781_WU8428?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636" alt=""></div>
            <div><img src="https://i.s-jcrew.com/is/image/jcrew/G0773_WU3851?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636" alt=""></div>
            <div><img src="https://i.s-jcrew.com/is/image/jcrew/A2297_WD5374?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636" alt=""></div>
            <div><img src="https://i.s-jcrew.com/is/image/jcrew/G0781_WU8428?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636" alt=""></div>
            <div><img src="https://i.s-jcrew.com/is/image/jcrew/G0773_WU3851?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636" alt=""></div> -->
        </div>
        <!-- <div class="row">
                <div class="col-md-4">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aspernatur sunt nobis quas atque optio? Cumque
                    </h2>
                </div>
                <div class="col-md-4">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nihil nobis aperiam molestiae dolor eum explicabo at
                      .</h2>
                </div>
                <div class="col-md-4">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quo animi fugit, vel sequi eos dolores a molestias
                    </h2>
                </div>
            </div>
        </div> -->


        <!-- <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Recently Viewed</h4>
                </div>
            </div>
        </div> -->

    </section>
</div>




<footer-component> </footer-component>


<script type="text/javascript">
    $(document).ready(function() {
        setTimeout(function() {
          $('.featured_slick').slick({
              slidesToShow: 3,
              slidesToScroll: 1,
              autoplay: true,
              autoplaySpeed: 1750,

              responsive: [{
                      breakpoint: 1024,
                      settings: {
                          slidesToShow: 3,
                          slidesToScroll: 3,
                          infinite: true,
                          dots: true
                      }
                  },
                  {
                      breakpoint: 600,
                      settings: {
                          slidesToShow: 2,
                          slidesToScroll: 2
                      }
                  },
                  {
                      breakpoint: 480,
                      settings: {
                          slidesToShow: 1,
                          slidesToScroll: 1
                      }
                  }
                  // You can unslick at a given breakpoint now by adding:
                  // settings: "unslick"
                  // instead of a settings object
              ]
          });





        }, 500)
    });
</script>
