<h1>Show all products here</h1>

<!-- {{ test }} <br> -->


<!-- <div ng-repeat="product in products">

  <h4> {{ product.name }}</h4> <br />
  <h4> <a ui-sref="details({ id: product.productid })">{{ product.name }} </a></h4>

  <h4> $ {{ product.price }}</h4> <br />
  <h4> {{ product.prodtype }}</h4>
  <img ng-src=" {{ product.imageurl1 }}" width="500px">


  <hr>
</div> -->


<!-- <div ng-repeat="product in products" ui-sref="details({ id: product.productid })">


  <img ng-src=" {{ product.imageurl1 }}" width="500px">
  <h4>{{product.name}}</h4> <br />
  <h4> ${{product.price}} </h4> <br />
  <! <hr /> -->
<!-- </div>  -->






         <div class="container">
             <div class="row">
                 <div data-ng-repeat="product in products" class="col-md-4">
                     <img ng-src="{{ product.imageurl1 }}" alt="" class="img-responsive">
                     <p>{{product.name}}</p>
                 </div>
             </div>
         </div>







<!-- {{ products }} -->
