<div class='navbar_wrap'>



        <!-- <div ui-sref='home'style= class='nav2'> -->
          <!--insert logo here -->
            <!-- <img class='logo col-xs-12' src="/images/DCrea.png" alt=""> -->
        <!-- </div> -->


</div>


<div><!--navbar here -->
  <li>Home</li>
  <li>All products</li>
  <li>Men</li>
  <li>Women</li>
  <li>Cart</li>
  <li>Checkout</li>

</div>



<!-- <div class="header_department-nav">
        <div class="department-nav_list">

            <li style="margin-right:3em">
              <input class='search-box' ng-model='searchInput' type="text" placeholder="Search">
              <button ng-click='search(searchInput)' type="submit" class="btn btn-default">Find</button>
            </li>

            <li style="margin-left:0"><a ui-sref="searchCategory({category: 'women'})">Women</a></li>

            <li><a ui-sref="searchCategory({category: 'men'})">Men</a></li>

            <li><a ui-sref='home'>Accessories</a></li>

            <li><a ui-sref='home'>Sale</a></li>


        </div>
</div> -->

<hr class='navbar_hr'>
