body{
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;

}

a {
  color: black;
  /*background-color: salmon;*/
}

a.center {
  display: flex;
  justify-content: center;
}



a:hover {
  color: #E7B2AA;
}






.view-container {
  width: 80%;
  margin: 0 auto;

}
.logo {
  display: block;
  margin: 0 auto;
}

.prodimg {
  padding: 10px 10px;
}

.prodpadding {
  padding: 40px 0px 40px 0px ;
}


.prodgrid {
  text-align: center;
}

.detailsimg {
  padding: 20px 20px;
}

.button {
  background-color: #E7B2AA;

}

.button:hover, .button:focus {
  background-color: #2A2A2A;
  color: #fefefe;
}
