body{
  /*background-color: salmon;*/
  /*width: 80%;*/
  margin: 0 auto;
}


.view-container {
  width: 80%;
  margin: 0 auto;
}
.logo {
  display: block;
  margin: 0 auto;
}

.prodimg {
  padding: 10px 10px;
}

.prodgrid {
  text-align: center;
}
